.modalBackground {
  width: 100vw;
  height: 100vh;
  background: rgba(47, 47, 47, 0.75);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modalContainer {
  width: 650px;
  height: 250px;
  border-radius: 6px;
  background: #fff;
  padding: 35px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  box-sizing: unset;
}

.closeButton {
  background: transparent;
  border: none;
  float: right;
  font-size: 25px;
  cursor: pointer;
}

.modalHeading {
  font-family: Roboto;
  font-size: 29px;
  font-weight: bolder;
  line-height: 46px;
  letter-spacing: 0.035em;
  text-align: left;
  color: #000000;
}
.groupName {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-content: center;
  margin-top: 0.5rem;
}
.modalGrp {
  font-family: Roboto;
  font-size: 27px;
  font-weight: bolder;
  line-height: 44px;
  letter-spacing: 0.035em;
  text-align: left;
  color: #000000;
}

.modalText {
  width: 375px;
  height: 35px;
  border-radius: 22px;
  border: 2px solid #ccc;
  color: #000;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-bottom: 20px;
  margin: 0.5rem;
}

.modalText::placeholder {
  color: #979797;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bolder;
  font-style: normal;
  line-height: 160%;
  letter-spacing: 0.805px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.selectColor{
  display: flex;
  margin-top: 1.5rem;
  gap: 3rem;
}

.modalColor {
  font-family: Roboto;
  font-size: 27px;
  font-weight: bolder;
  line-height: 44px;
  letter-spacing: 0.035em;
  text-align: left;
  color: #000;
}

.colorButton {
  cursor: pointer;
}
.colorButton:hover {
  transform: translate3d(0px, -2px, 0px);
}
.allColors{
  display: flex;
  gap: 0.3rem;
}

.modalCreate {
  width: 154px;
  height: 38px;
  background: #000;
  border-radius: 11px;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bolder;
  font-style: normal;
  line-height: 160%;
  letter-spacing: 0.7px;
  /* position: relative; */
  top: 25px;
  left: 520px;
  cursor: pointer;
  /* margin-right: 2rem; */
  margin: 2rem 32rem;
  left: 1rem;
}

.modalBackgroundMobile {
  width: 100vw;
  height: 100vh;
  background: rgba(47, 47, 47, 0.75);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainerMobile {
  width: 285px;
  height: 215px;
  border-radius: 6px;
  background: #fff;
  padding: 1rem 1rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  box-sizing: unset;
}

.closeButtonMobile {
  background: transparent;
  border: none;
  float: right;
  font-size: 1rem;
  cursor: pointer;
}

.modalHeadingMobile {
  font-family: Roboto;
  font-size: 1.25rem;
  font-weight: bolder;
  line-height: 46px;
  letter-spacing: 0.035em;
  text-align: left;
  color: #000000;
}
.groupNameMobile {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-content: center;
  margin-top: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
}
.modalGrpMobile {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: bolder;
  line-height: 44px;
  letter-spacing: 0.035em;
  text-align: left;
  color: #000000;
}

.modalTextMobile {
  width: 150px;
  height: 23px;
  border-radius: 22px;
  border: 2px solid #ccc;
  color: #000;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-bottom: 20px;
  margin: 0.5rem;
}

.modalTextMobile::placeholder {
  color: #979797;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.035em;
  text-align: left;
}
.selectColorMobile {
  display: flex;
  margin-top: 0.5rem;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center; 
}

.modalColorMobile {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: bolder;
  line-height: 44px;
  letter-spacing: 0.035em;
  text-align: left;
  color: #000000;
}



.colorButtonMobile {
  cursor: pointer;
}
.colorButtonMobile:hover {
  transform: translate3d(0px, -2px, 0px);
}


.modalCreateMobile {
  position: relative;
  width: 185px;
  height: 40px;
  /* float: right; */
  background:  #16008B;
  border-radius: 11px;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 160%;
  letter-spacing: 0.7px;
  cursor: pointer;
  left: 45px;
  top: 10px;
}

.error {
  color: red;
}

.errorButton {
  border-color: red;
  background-color: #ffe5e5;
  color: red;
}
.modalText.error {
  border-color: red;
}
