* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; 
    display: flex;
  }
  
  .leftSidePanel {
    position: relative;
    flex-grow: 1;
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
    max-height: 100vh; /* Limit the height of the container to the viewport height */
  }
  
  .MessageArea {
    background-color: burlywood;
    width: 100vw;
    /* border: 1px solid black; */
    display: flex;
    height: 100vh;
    flex-direction: column;
  }
  
  .MessageAreaMobile {
    background-color: burlywood;
    width: 100vw;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
  }
  
  .headingBox {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #ffffff;
    text-align: center;
  }
  
  .heading {
    padding: 2rem;
    color: #000;
    font-family: Roboto;
    font-size: 31px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.63px;
  }
  
  .GroupList {
    display: flex;
    flex-direction: column;
  }
  
  .groupIcon {
    margin-left: 10px;
    width: 68px;
    height: 68px;
    color: #fff;
    border-radius: 50px;
    font-size: 24px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: burlywood;
  }
  
  .GroupItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    gap: 1.5rem;
  }
  
  .groupName {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  
    color: #000000;
  }
  
  .bottomButton {
    position: sticky;
    bottom: 40px; /* Adjust as needed */
    right: 20px; /* Adjust as needed to position it to the right */
    width: 93px; /* Adjust button width to fit panel */
    height: 93px;
    left: 325px;
    background-color: #16008b; /* Example button background color */
    color: #fff; /* Example button text color */
    border: none;
    border-radius: 50px;
    font-size: 3rem;
    cursor: pointer;
    z-index: 2; /* Ensure it stays above other content */
  }
  
  .modalBackground {
    width: 100vw;
    height: 100vh;
    background: rgba(47, 47, 47, 0.75);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 285px;
    height: 215px;
    border-radius: 6px;
    background: #fff;
    padding: 1rem 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  
  .closeButton {
    background: transparent;
    border: none;
    float: right;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .modalHeading {
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: bolder;
    line-height: 46px;
    letter-spacing: 0.035em;
    text-align: left;
    color: #000000;
  }
  .groupName {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    align-content: center;
    margin-top: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
  }
  .modalGrp {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: bolder;
    line-height: 44px;
    letter-spacing: 0.035em;
    text-align: left;
    color: #000000;
  }
  
  .modalText {
    width: 150px;
    height: 23px;
    border-radius: 22px;
    border: 2px solid #ccc;
    color: #000;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    margin-bottom: 20px;
    margin: 0.5rem;
  }
  
  .modalText::placeholder {
    color: #979797;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.035em;
    text-align: left;
  }
  .selectColor {
    display: flex;
    margin-top: 0.5rem;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center; 
  }
  
  .modalColor {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: bolder;
    line-height: 44px;
    letter-spacing: 0.035em;
    text-align: left;
  }
  
  .colorButton {
    height: 22px;
    width: 22px;
    background: yellow;
    border-radius: 25px;
    border: none;
    /* margin-right: 10px; */
  }
  
  .colorButton {
    cursor: pointer;
  }
  .colorButton:hover {
    transform: translate3d(0px, -2px, 0px);
  }
  
  
  .modalCreateMobile {
    position: relative;
    width: 185px;
    height: 40px;
    /* float: right; */
    background:  #16008B;
    border-radius: 11px;
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 160%;
    letter-spacing: 0.7px;
    cursor: pointer;
    left: 45px;
    top: 10px;
  }
  
  .modalCreate {
    width: 154px;
    height: 38px;
    background: #000;
    border-radius: 11px;
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bolder;
    font-style: normal;
    line-height: 160%;
    letter-spacing: 0.7px;
    /* position: relative; */
    top: 25px;
    left: 520px;
    cursor: pointer;
    /* margin-right: 2rem; */
    margin: 2rem 32rem;
    left: 1rem;
  }
  
  .notesHeader {
    height: 1vh;
    width: 100vw;
    background: #001f8b;
    display: flex;
    align-items: center;
    padding: 2.65rem 1.5rem;
    gap: 1rem;
  }
  
  .notesGroup {
    /* margin-left: 10px; */
    width: 68px;
    height: 68px;
    color: #fff;
    border-radius: 50px;
    font-size: 24px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #000;
  }
  .groupNameMessageArea {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  
    color: #ffffff;
  }
  
  .NotesList {
    height: 85vh;
    width: 100vw;
    background: #dae5f5;
    /* margin-top: 1rem; */
    padding-top: 1rem;
    overflow-y: auto; 
    max-height: 67vh; /* Limit the height of the container to the viewport height */
  }
  .selectedGroupArea {
    display: block;
  }
  
  .Text {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.035em;
    text-align: left;
    
    color: #000000;
  }
  
  .NotesArea {
    display: block;
  }
  
  .NotesItem {
    position: relative;
    background: #ffffff;
    margin: 0rem 2rem 1rem 2rem;
    padding: 2rem 1.5rem;
    border-radius: 0.3rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Add box shadow */
  }
  
  .NotesAndDate {
    position: absolute; /* Change to absolute positioning */
    bottom: 10px; /* Adjust as needed */
    right: 25px; /* Adjust as needed */
  
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
  }
  
  .dotImage {
    height: 4px;
    width: 4px;
  }
  
  .Textarea {
    background: #001f8b;
    width: 100vw;
    height: 22.7vh;
    /* border-radius: 8px; */
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .TextInput {
    margin: 1rem;
    height: 19vh;
    width: 92vw;
    resize: none;
    border-radius: 12px;
    padding: 1rem;
  }
  .TextInput::placeholder {
    color: #9a9a9a;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.596px;
  }
  .SendImgButton {
    position: absolute;
    bottom: 60px;
    right: 30px;
    cursor: pointer;
    background: none;
    border: none;
  }
  
  .SendImg {
    height: auto;
    width: 1.8rem;
  }
  
  span {
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #353535;
  }
  
  ::-webkit-scrollbar {
    width: 8px; /* Adjust as needed for thickness */
    height: 8px;
  }
  
  /* Scrollbar Track */
  ::-webkit-scrollbar-track {
    background-color: #000000; /* Change scrollbar track color to white */
    margin: 10px;
    border-radius: 8px;
    height: 2px;
  }
  
  /* Scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Change scrollbar thumb color to black */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
    width: 5px; /* Adjust width of the scrollbar thumb */
    height: 5px; /* Adjust height of the scrollbar thumb */
  }
  